<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>
    <header>
        {{ partial "nav.html" . }}
    </header>

    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Projects</h1>
                    <h3>Browse Some of My Work</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {{ range sort .Site.Data.portfolio "weight" }}
        <div class="col-md-3 col-sm-4">
            <a href="{{ .url }}">
                <div class="panel text-center">
                    <img src="{{ .image }}" alt="{{ .title }}" class="img-thumbnail">

                </div>
                <div class="panel text-center">
                    <h3>{{ .title }}</h3>
                </div>
            </a>
        </div>
        {{ end }}
    </div>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
</body>
</html>