<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>
    <header>
        {{ partial "nav.html" . }}
    </header>

    <div id="heading-breadcrumbs">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>Projects</h1>
                    <h3>Browse Some of My Work</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-group">
        <div class="row" id="portfolio">
            {{ range sort .Site.Data.portfolio "weight" }}
                <div class="panel col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="{{ .url }}">
                    <div class="text-center">
                        <img src="{{ .image }}" alt="{{ .title }}" class="img">
                        <h3>{{ .title }}</h3>
                    </div>                    
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
</body>
</html>