<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
    <header>
        {{ partial "nav.html" . }}
    </header>
    
    {{ partial "pageTitle.html" . }}

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 banner">
                    <img src="{{ .Params.image }}" alt="{{ .Params.title }}" class="img">
                </div>
            </div>

            <div class="row content-group">
                <div class="col-sm-12 col-md-8">
                    <h2>Overview</h2>
                    <p>
                        {{ .Content }}
                    </p>
                    <p>
                        To learn more about {{ .Params.title }}, feel free to
                        <a href="/about/" title="Contact">contact me</a>.
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="panel">
                        <h3>
                            Project details
                        </h3>

                        <ul class="fa-ul">
                            <li>
                                {{ if isset .Params "livesite" }}
                                <i class="fa-li fa fa-link"></i>
                                <a href="{{ .Params.liveSite }}">Live Site</a> 
                                {{ else if isset .Params "sourcecode" }}
                                <i class="fa-li fa fa-github"></i>
                                <a href="{{ .Params.sourceCode }}">Source Code</a>
                                {{ end }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}"
    {{ partial "scripts.html" . }}
</body>
</html>