<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
    <header>
        {{ partial "nav.html" . }}
    </header>
    
    {{ partial "pageTitle.html" . }}

    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 banner">
                <img src="{{ .Params.image }}" alt="{{ .Params.title }}" class="img-responsive">
            </div>
        </div>

        <div class="row content-group">
            <div class="col-sm-12 col-md-8">
                <h2>Overview</h2>
                <p>
                    {{ .Content }}
                </p>
                <p>
                    To learn more about the {{ .Params.title }}, feel free to
                    <a href="mailto:collin.sherman@outlook.com" title="Contact">email me</a>.
                </p>
            </div>
            {{ if isset .Params "livesite" }}
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="panel">
                    <h3>
                        Live Sites
                    </h3>

                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-external-link"></i>
                            <a href="https://shermandigital.com">https://shermandigital.com</a>
                        </li>
                        <li>
                            <i class="fa-li fa fa-external-link"></i>
                            <a href="https://vtcompetitivecheerleading.com">https://vtcompetitivecheerleading.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            {{ else if isset .Params "sourcecode" }}
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="panel">
                    <h3>
                        Project details
                    </h3>

                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-github"></i>
                            <a href="{{ .Params.sourceCode }}">Source Code</a>
                        </li>
                    </ul>
                </div>
            </div>
            {{ else }}
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="panel">
                    <h3>
                        Company Website
                    </h3>

                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-link"></i>
                            <a href="https://www.bluestoneanalytics.com/">Bluestone Analytics</a> 
                        </li>
                    </ul>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

    {{ partial "footer.html" . }}"
    {{ partial "scripts.html" . }}
</body>
</html>