<div class="row container">
    <div class="col-sm-12 col-md-10 col-lg-9">
        {{ .Content }}
        <a href="/ShermanResume.pdf" class="button">
            Download My Resume
        </a>
    </div>

    <div class="col-md-2 col-lg-3 hidden-sm">
        <div class="text-center">
            <img src="/img/about.png" class="img-thumbnail" alt="Responsive image">
            <strong>Feel free to send me an email!</strong>
            <p>
                I'm looking to do rewarding, exciting work in software development and cyber security.
                If you would like to get in contact with me, click the envelope at the top of the page!
            </p>
        </div>
    </div>
</div>