<div class="row content-group">
    <div class="col-sm-12 col-md-9">
        {{ .Content }}
        <a href="/ShermanCollinResume.pdf" class="button">
            Download My Resume
        </a>
    </div>

    <div class="col-md-3 hidden-sm hidden-xs panel">
        <div class="text-center">
            <img src="/img/about.png" class="img-thumbnail" alt="Responsive image">
        </div>
        <div class="text-center">
            <strong>Let's get in touch!</strong>
            <p>
                If you would like to get in contact with me, please send me an <a href="mailto:shermanc19@mail.wlu.edu">email</a>!
            </p>
        </div>
</div>