<div class="padding-top-bottom-default background-turquiose">
    <div class="row" id="description">
        <div class="col-sm-12 text-center">
            <p class="container">
                Being a programmer for the Naval Information Warface Center (NIWC) has been a rewarding and exciting experience so far,
                offering me a mulititude of opportunities to further my knowledge and take on rewarding projects.
                As a Computer Science major at Washington and Lee University, I welcomed all of the challenges of going to an
                academically top-ranked school with open arms, especially in my coding classes. This set me up well for the working world,
                as I am confident in my abilities both in coding and interacting with colleagues and leadership.  I am a versatile worker,
                completing numerous projects independently as well as collaboratively and in a variety of languages and frameworks.  To find out more about me and my projects, 
                visit the <a class="text-snow" href="/portfolio/">Portfolio</a> and <a class="text-snow" href="/about/">About Me</a> pages.
            </p>
        </div>
    </div>
</div>