<div class="padding-top-bottom-default background-turquiose">
    <div class="row" id="description">
        <div class="col-sm-12 text-center">
            <p class="container">
                As a junior majoring in Computer Science at Washington and Lee University, I welcome all of the challenges of going to an
                academically top-ranked school with open arms, especially in my coding classes. I am a versatile worker,
                as I have completed numerous projects both independently as well as collaboratively. To find out more about
                me and my projects, visit the Portfolio and About Me pages.
            </p>
        </div>
    </div>
</div>