<footer id="footer">
    <div class="container">

        {{ if isset .Site.Params "about_me" }}
        <div class="col-md-4 col-sm-5">
            <h4>{{ i18n "aboutMe" }}</h4>

            {{ .Site.Params.about_me | markdownify }}

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

        <div class="col-sm-6 col-md-5">
            <ul class="fa-ul">
                <li class="seperate">
                    <a href="https://www.linkedin.com/in/collin-sherman-284726139/">
                        <i class="fa-li fa fa-linkedin fa-2x"></i>
                    </a>
                    <p>
                        Connect with me on 
                        <a href="https://www.linkedin.com/in/collin-sherman-284726139/">
                            LinkedIn
                        </a>
                    </p>
                </li>
                <li class="seperate">
                    <a href="https://github.com/collinsherman?tab=repositories">
                        <i class="fa-li fa fa-github fa-2x"></i>
                    </a>
                    <p>
                        View 
                        <a href="https://github.com/collinsherman?tab=repositories">
                            Github
                        </a>
                        to browse the source code of some of my projects
                    </p>
                </li>
                <li class="seperate">
                    <a href="mailto:shermanc19@mail.wlu.edu">
                        <i class="fa-li fa fa-envelope fa-2x"></i>
                    </a>
                    <p> 
                        <a href="mailto:shermanc19@mail.wlu.edu">
                            Email me
                        </a>
                        to get in touch
                    </p>
                </li>
            </ul>
        </div>

        <div class="col-md-2 hidden-sm hidden-xs">
            {{range .Site.Menus.main }}
            <div class="seperate">
                <a href="{{ .URL }}">
                    <h5>
                        {{ .Name }}
                    </h5>
                </a>
            </div>
            {{ end }}
        </div>

    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            {{ if isset .Site.Params "copyright" }}
            <p class="pull-left">&copy 2018-<script type="text/javascript">document.write( new Date().getFullYear() );</script> {{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
            <p class="pull-right">
                Developed by <a href="https://github.com/collinsherman?tab=repositories">Collin Sherman</a>
            </p>
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
